@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button,
  [type='button'] {
    background-color: var(--el-button-bg-color, var(--el-color-white));
  }
}
@layer components {
  .card-sm {
    --el-card-padding: 8px !important;
  }

  .card-md {
    --el-card-padding: 12px !important;
  }

  .card-lg {
    --el-card-padding: 16px !important;
  }

  .seisa-dialog {
    @apply sm:!w-[600px] !w-[calc(100%_-_32px)];
  }
}

#app {
  height: 100vh;
  width: 100vw;
}

input[type='date'].seisa-date::-webkit-calendar-picker-indicator {
  color: transparent;
  background: none;
  z-index: 1;
}
.el-text {
  align-self: initial !important;
}
